
// Colors

$text-color: #888888;
$blue: blue;
$white: white;
$orange: orange;
$distance: 40px;
$border-color: #eee;
$gray: #ededed;
$red: #fd6b6b;
$red-dark: #d84315;
$green: #0ab3a3;
$green-dark: #078377;
$black: #000;
$purple: #666699;
$location_green: #649216;
$admin_black: #202020;
$light_yellow: #fff390;
$header_color: #7b7b7b;
$bhagva_light: #ffbc49;
$bhagva_dark: #ffa100;


$site-black: #1f1f1f;
$site-blue: #2c93d5;
$site-orange: #f58220;
$site-header: #333;
$site-footer: #095786;
$active-menu: #981500;
$hover-menu: #524E4D;
$header-yellow: #68231f;
$shadow-color: #949494;

// Font size
$h1_font: 2rem;
$h2_font: 1.8rem;
$h3_font: 1.5rem;
$h4_font: 1.3rem;
$h5_font: 1.2rem;
$h6_font: 1.1rem;

$base_font: 1rem;
$small_font: 1.1rem;
$large_font: 1.2rem;
$very_large_font: 1.3rem;


// Fonts
$font-stack:  'Gudea', sans-serif, Helvetica;
$font-title:  'Oswald', sans-serif, Helvetica;
$font-menu:  'Oswald', sans-serif, Helvetica;

