
// Colors

$text-color: #888888;
$blue: blue;
$white: white;
$orange: orange;
$distance: 40px;
$border-color: #eee;
$gray: #ededed;
$red: #fd6b6b;
$red-dark: #d84315;
$green: #0ab3a3;
$green-dark: #078377;
$black: #000;


$site-black: #1f1f1f;
$site-blue: #2c93d5;

// Font size
$h1_font: 2rem;
$h2_font: 1.8rem;
$h3_font: 1.5rem;
$h4_font: 1.3rem;
$h5_font: 1.2rem;
$h6_font: 1.1rem;

$base_font: 1rem;
$small_font: 1.1rem;
$large_font: 1.2rem;
$very_large_font: 1.3rem;


// Fonts
$font-stack:  'Gudea', sans-serif, Helvetica;
$font-title:  'Oswald', sans-serif, Helvetica;
$font-menu:  'Oswald', sans-serif, Helvetica;

