@import "variables";

html {
  font-size: 87.5%;
  line-height: 1.3;
}

body {
  font-size: $base_font;
  color: $text-color;
  font-family: $font-stack;
  h1 {
    font-size: $h1_font;
  }

  h2 {
    font-size: $h2_font;
  }

  h3 {
    font-size: $h3_font;
  }

  h4 {
    font-size: $h4_font;
  }

  h5 {
    font-size: $h5_font;
  }

  h6 {
    font-size: $h6_font;
  }

  a {
    color: $site-black;
    &:hover {
      text-decoration: none;
      color: $site-blue;
      transition: color 0.3s ease;
    }
  }
  &.html {
    > div, > header, > footer {
      &.container {
        width: 100%;
        max-width: 100%;
        padding: 0;
        position: relative;
      }
    }
  }

  #first-time {
    display: none;
  }
}

div.row, .navbar-header, .navbar-collapse {
  margin: 0;
}

.front .page-header {display: none;}