@import "variables";

body {
  a:hover {
    text-decoration: none;
  }
  .page-header {
    border-bottom: none;
    padding: 8px 0 0 8px;
    font-weight: normal;
    font-family: 'Helvetica Neue LT Com', sans-serif;
    text-transform: uppercase;
    border-left: 10px solid $site-orange;
    color: $header_color;
  }
  h2.block-title {
    font-weight: normal;
    font-size: 25px;
    font-family: 'Helvetica Neue LT Com', sans-serif;
  }

  &.html {
    > div, > header, > footer {
      &.container {
        width: 100%;
        max-width: 100%;
        padding: 0;
        position: relative;
      }
    }
  }

  #first-time {
    display: none;
  }
}

div.row, .navbar-header, .navbar-collapse {
  margin: 0;
  padding: 0;
}

.front .page-header {display: none;}
