@import "variables";

footer {
  // background-color: $dark-ubuntu-orange;
  padding: 20px;
  padding-bottom: 0;
  .region-footer {
    #block-pr-site-customization-footer-second-last-block {
      background-color: #666699;
      color: $white;
      padding-bottom: 20px;
      .contact-us-form .sub-title {
        padding: 0 20px;
      }
      #webform-client-form-5 {
        padding-top: 0;
        input, textarea {
          border-radius: 0;
        }
        .block-title {
          text-align: left;
          margin-top: 0;
        }
        // width: 20%;
        color: $white;
        padding: 10px 20px;
        text-align: center;
        .webform-submit {
          width: 100%;
          border-radius: 0;
          background-color: $site-orange;
          border: none;
          &:hover {
            color: $black;
          }
        }
      }
      .footer-menu-items {
        ul {
          li {
            a {
              color: $black;
              border: 1px solid $white;
              margin: 3px;
              &:hover {
                background-color: $white;
              }
            }
          }
        }
      }
    }

  }
}

/*-----------------------------------------------------------------------------------*/
/*  Footer
/*-----------------------------------------------------------------------------------*/
#block-block-1 {
  @media only screen and (max-width: 425px) {
    text-align: center;
  }
  padding: 20px 0;
  .footer-last {
    padding: 15px 0;
    background: #fff;
  }
  .footer-last p {
    margin: 0px;
  }
  .social {
    margin: 0px;
    @media only screen and (max-width: 425px) {
      float: none !important;
    }
  }
  .social a {
    background: url("../images/social-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 50px;
    text-align: left;
    text-indent: -9999px;
    vertical-align: middle;
    width: 50px;
    margin-left: 5px;
  }
  .social a.fb {
    background-position: left top;
  }
  .social a.fb:hover {
    background-position: left -51px;
  }
  .social a.twitter {
    background-position: -51px top;
  }
  .social a.twitter:hover {
    background-position: -51px -51px;
  }
  .social a.gl {
    background-position: -102px top;
  }
  .social a.gl:hover {
    background-position: -102px -51px;
  }
  .social a.tum {
    background-position: -153px top;
  }
  .social a.tum:hover {
    background-position: -153px -51px;
  }
}
