@import "variables";

body {
  header {
    &#navbar {
      margin-bottom: 0;
      border: none;
      border-bottom: 1px solid $header-yellow;
      background-color: $white;
    }
    .navbar-header {
      .logo {
        img {
          width: 300px;
          @media only screen and (max-width: 500px) {
            width: 250px;
          }
        }
      }
      .navbar-toggle {
        display: none;
      }
    }

    #block-tb-megamenu-menu-site-wide {
      box-shadow: 0 5px 10px $shadow-color;
      background-color: #f58220;
      .tb-megamenu .nav > li {
        flex: 1;
        text-align: center;
        @media only screen and (max-width: 979px) {
          width: 100%;
          text-align: left;
        }
      }
      ul.tb-megamenu-nav {
        display: flex;
        padding: 0 5%;
      }
      .tb-megamenu-nav > li > a {
        background-color: $header-yellow;
        border-right: none;
        height: 50px;
        overflow: hidden;
        font-size: 15px;
        &:hover {
          color: $white;
          border-bottom: 5px solid white;
        }
      }
      .tb-megamenu-nav {
        background-color: $header-yellow;
        .tb-megamenu-submenu {
          border-bottom-color: $header-yellow;
          a {
            &:hover {
              color: $header-yellow;
              border-color: $header-yellow;
            }
          }
        }
      }
      .tb-megamenu-button {
        position: absolute;
        top: -45px;
        z-index: 222222;
        right: 10px;
        background-image: linear-gradient(to bottom, $header-yellow, $header-yellow);
        background-color: $header-yellow;
      }
    }

    #block-pr-site-customization-register-for-free {
      width: 20%;
      float: right;
      margin-top: 50px;
      .register-for-free-link {
        padding: 10px;
        background: $bhagva_light;
        border-radius: 5px;
        color: white;
        &:hover {
          background: $bhagva_dark;
        }
      }
    }

  }
}
