@import "variables";

header#navbar {
  margin: 0;
  padding: 20px;
  margin-bottom: 20px;
  max-width: none;
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: $site-header;
  background-image: url(../images/grid-small-dot.png);
  .navbar-brand {
    margin-top: 16px;
    font-size: $h1_font;
  }
  .nav.navbar-nav {
    margin-top: 16px;
    font-size: $large_font;
    a:hover {
      background-color: $hover-menu;
    }
  }
  a {
    color: $white;
    text-transform: uppercase;
    &.active {
      background-color: #981500;
    }
  }
}