@import "variables";

.page-node-add-ct-house-on-rent,
.page-node-edit.node-type-ct-house-on-rent,
.page-eform-submit-ef-post-your-requirement {
  .main-container {
    .region-content {
      width: 80%;
      margin: auto;
      .node-ct_house_on_rent-form, .entitytype-ef_post_your_requirement-form {
        .form-item {
          label {
            width: 19%;
            display: inline-block;
            @media only screen and (max-width: 768px) {
              width: 100%;
              display: block;
              vertical-align: middle;
            }
          }
          input, select {
            width: 80%;
            display: inline-block;
            @media only screen and (max-width: 768px) {
              width: 100%;
              display: block;
            }
          }
        }
        .field-name-field-ct-hor-images {
          .form-managed-file {
            width: 80%;
            display: inline-block;
            input {
              width: 100%;
              display: block;
            }
          }
          .help-block {
            margin-left: 20%;
          }
        }
        .field-name-field-ct-hor-locality, .field-name-field-ef-hr-locality {
          .shs-processed.element-invisible {
            display: none;
          }
          select {
            width: 39%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 6px 12px;
            background-color: white;
            margin: 3px;
            @media only screen and (max-width: 768px) {
              width: 48%;
            }
            @media only screen and (max-width: 375px) {
              width: 47%;
            }
          }
        }
        .field-name-field-ef-hr-property-type,
        .field-name-field-ef-hr-tenant-type {
          .shs-processed.element-invisible {
            display: none;
          }
          select {
            width: 79%;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 6px 12px;
            background-color: white;
            margin: 3px;
            @media only screen and (max-width: 768px) {
              width: 100%;
            }
          }
        }
        .field-name-field-ef-hr-your-diet-type,
        .field-name-field-ef-hr-no-of-members {
          .form-item {
            label {
              width: 19%;
              @media only screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 0;
                vertical-align: middle;
              }
            }
          }
        }
        .field-type-list-boolean,
        .field-type-list-text {
          label {
            width: 100%;
          }
          input {
            width: 1%;
            display: block;
            @media only screen and (max-width: 1024px) {
              width: 3%;
            }
            @media only screen and (max-width: 375px) {
              width: 5%;
            }
          }
        }
        .field-name-field-ct-hor-built-up-area,
        .field-name-field-ct-hor-carpet-area {
          input {
            width: 75%;
            margin-right: 2%;
            display: inline-block;
          }
          .help-block {
            display: inline-block;
          }
        }
        .form-actions {
          text-align: center;
          button {
            width: 60%;
            border-radius: 0;
            color: $white;
            background-color: $site-orange;
            border: none;
          }
        }
      }
    }
  }
}
